// Variable overrides
$brand-main-color: #d21b1d;
$brand-secondary-color: #a9a9a9;
$brand-bk-color: #edeeef;

$brand-danger-color: #ef5350;
$brand-warning-color: #ff9800;
$bran-success-color: #4caf50;
$brand-info-color: #4FC3F7;

$brand-text-color: #7e7e7e;
$brand-dark-text: #505050;
$brand-gray-text: #999999;
$brand-litegray-text: #dbdbdb;